@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #353434;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

li {
  transition: all 0.5s ease;
  cursor: pointer;
}

button {
  transition: all 0.5s ease;
}
